.containerForm{
    display: flex;
    justify-content: center;
    padding: 20px;
}

form{
    background-color: #e9ecef;
    padding: 60px;
}

.form-label{
    font-size: large;
}

.form-control{
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }



