.counter{
    width: fit-content;
    margin: auto;
    text-align: center;
  }

  .btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }

  .spanCounter{
    font-size: 25px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
  }